.snack-header {
    background-color: black;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.snack-header--text {
    color: #fff;
    font-family: cursive;
}

.eat-gif {
    width: 90px;
    height: 52px;
}

.hide {
    opacity: 0;
}