.snack-header {
    background-color: black;
    height: 7vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    color: white;
}

.snack-header--text {
    color: #fff;
    font-family: cursive;
    display: flex;
    align-items: center;
}

.snack-header__user-text{
    color: white;
}

.snack-header__log-text{
    color: white;
}

.eat-gif {
    width: 90px;
    height: 52px;
}

.hide {
    opacity: 0;
}